<!DOCTYPE html>
<head>
  <title>I love apples</title>

    <h1>  {{ table_1.field_1 }} </h1>
    <ul>
    {% for element in table_2s %}
      <li> {{ element.field_2 }} </li>
      {% endfor %}
    </ul>

</head>
<body>
</body>
</html>
